<header class="header">
  <a href="" class="logo">
    <img src="" alt="" class="logo-icon" />
    <p class="logo-text">Cinemania</p>
  </a>

  <nav class="header-nav">
    <ul class="header-menu">
      <li class="header-menu-item">
        <a href="" class="header-menu-link header-menu-link--active">Home</a>
      </li>
      <li class="header-menu-item">
        <a href="" class="header-menu-link">Catalog</a>
      </li>
      <li class="header-menu-item">
        <a href="" class="header-menu-link">my library</a>
      </li>
    </ul>
  </nav>
  <input type="checkbox" class="theme-toggle" />
</header>
