<header class="header">
  <a href="/index.html" class="logo">
    <span class="logo-icon" aria-hidden="true"></span>
    <p class="logo-text">Cinemania</p>
  </a>

  <nav class="header-nav">
    <ul class="header-menu">
      <li class="header-menu-item">
        <a href="/index.html" class="header-menu-link">Home</a>
      </li>
      <li class="header-menu-item">
        <a href="/catalog.html" class="header-menu-link">Catalog</a>
      </li>
      <li class="header-menu-item">
        <a href="/library.html" class="header-menu-link">My library</a>
      </li>
    </ul>
  </nav>
  <input type="checkbox" class="theme-toggle" />
</header>
